@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1C5260;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C5260;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  color: var(--foreground);
  background: var(--background);
  font-family: "Lato", sans;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;                  /* Set container width */
  height:100%;
  padding: 10px;               /* Space inside the container */
  margin-top: 40px; /* Adjust this value based on the navbar height */
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.picture Image {
  border-radius: 50%;
}

.picture {
  width: 40%;
  height: 40%;
  border-radius: 5px;
  margin-right: 20px;
}
/* links */
.links-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

.text-container {
  align-items: left;
  margin-top: 20px;
  width: 60%;
}

.text-container p:hover {
  color: inherit; /* or another color if needed */
}

/* main */
.text h1 {
  font-family: "Playfair", sans;
}

.text h2 {
  font-family: "Playfair", sans;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.text h3 {
  font-family: "Lato", sans;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
}

.text p {
  font-size: 1rem;
  padding: 10px;
}

/* nav bar */
.navbar {
  position: fixed; /* Keep it fixed at the top */
  left: 0;
  width: 100%; /* Full width */
  height: 10%;
  display: flex; /* Maintain its own flexbox layout */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--background); /* Optional: Set a background color */
  z-index: 1000; /* Ensure it stays above other elements */
}

.navbar-title {
  font-size: 1.5rem;
  margin-right: auto; /* Pushes the title to the left */
  font-weight: 900;
  letter-spacing: 2px;
  margin-left: 20px;
}

.navbar-container {
  margin-left: auto; /* Pushes the container to the right */
  display: flex;
  align-items: center;
}

.nav-text {
  color: #ededed;
  font-size: 1.1rem;
  padding: 20px;
}

.nav-text button {
  gap: 10px;
  padding: 10px;
}

.nav-text button:hover {
  color:rgb(0, 201, 151)
}

.resume-container {
  width: 100%;
  height: 100vh;
}